# Python
__pycache__/
*.pyc
backend/venv/
backend/.env

# Node/Vue
node_modules/
frontend/dist/

# Media
backend/media/propertyImages/*
!backend/media/propertyImages/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store